body{
    background-color: tan;
    font-family: fantasy;
}
li{
    list-style: none;
    display: flex;
    align-items: center;
}
li >form > button{
    /* border: none; */
    text-align: center;
    background-color: tan;
    width: 20px;
    padding: 0px;
}
h1 > a{
    font-size: small;
}
form{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-right: 15px;
    margin-bottom: 0px;
}
.form-users{
    display: flex;
    justify-content: space-around;
    margin-left: 250px;
    margin-right: 250px;

}
.Title-UserList{
    margin-left: 15px;
}
.vr{
    border-left: dotted black;
}
form > *{
    margin: 5px;
}